@keyframes cloudRotate360left {
	0% {
		transform: rotate(0deg) translateY(250px) rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(180deg) translateY(150px) rotate(-180deg) scale(0.5);
	}
	100% {
		transform: rotate(360deg) translateY(250px) rotate(-360deg) scale(1);
	}
}

// @keyframes cloudRotate360right {
// 	0% {
// 		transform: rotate(90deg) translateY(250px) rotate(-90deg);
// 	}
// 	50% {
// 		transform: rotate(270deg) translateY(150px) rotate(-270deg);
// 	}
// 	100% {
// 		transform: rotate(450deg) translateY(250px) rotate(-450deg);
// 	}
// }

@keyframes cloudRotate360right {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(50px);
	}
	100% {
		transform: translateY(0px);
	}
}
