// base colors
$white: #fff;
$black: #000;

// accent colors
$mainGrey: #555555;
$mainPink: #7f1f61;
$mainLightBlue: #3f8f8d;
$mainLightRed: #ff3f6f;
$mainLightPink: #ffd3de;
$lightBisque: #dfdfdf;

// gradient colors
$gradient_color: linear-gradient(180deg, #fffefb 0%, #fffbf4 45.11%, #e9f3ff 100%);
$gradient_color_2: linear-gradient(0deg, #fffefb 0%, #fffbf4 0.01%, #e9f3ff 100%);
