.title {
	font-size: clamp(1.5rem, 1.114rem + 1.93vw, 2.5rem);
	font-weight: 700;
	color: $mainPink;
	text-transform: capitalize;
	font-family: $fontFamily1;
}

.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 15px;
	&__big {
		max-width: 1310px;
		margin: 0 auto;
		padding: 0 15px;
	}
}

.none {
	display: none !important;
}

.two__sections-wrapper {
	position: relative;
	.two___sections-clouds > div {
		position: absolute;
	}
	.cloud-1 {
		position: absolute;
		right: 0;
		top: 3%;
	}
	.cloud-2 {
		position: absolute;
		left: 0;
		top: 22%;
	}
}
