.title {
	position: relative;
	font-size: clamp(1.5rem, 1.114rem + 1.93vw, 2.5rem);
	font-weight: 700;
	color: $mainPink;
	font-family: $fontFamily1;
	&-cancel {
		color: #f00 !important;
	}
	&-cart {
		font-size: 25px;
	}
	&-20 {
		font-size: 20px;
		font-weight: 600;
	}
}

.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 10px;
	&__big {
		max-width: 1310px;
		margin: 0 auto;
		padding: 0 10px;
	}
	&__900 {
		max-width: 930px;
		margin: 0 auto;
		padding: 0 15px;
		@media (max-width: (960px)) {
			max-width: 790px;
			padding: 0 10px;
		}
	}
}

.none {
	display: none !important;
}

.two__sections-wrapper {
	overflow: hidden;
	position: relative;

	.two___sections-cloud-img-right {
		// pointer-events: none;
		position: absolute;
		// transform: translateX(80%);
		top: 0;
		right: -60%;
		z-index: -1;
		&.animated {
			animation: smallTranslateCloud 10s ease-in-out 0s infinite;
		}
		@media (max-width: (960px)) {
			top: 27%;
			right: -67%;
		}
		@media (max-width: (600px)) {
			display: none;
		}
	}
	.two___sections-cloud-img-left {
		// pointer-events: none;
		position: absolute;
		top: 40%;
		left: -60%;
		z-index: -1;
		&.animated {
			animation: smallTranslateCloudReverse 10s ease-in-out 0s infinite;
		}
		@media (max-width: (960px)) {
			display: none;
		}
	}
	.two___sections-cloud-img-left-second {
		// pointer-events: none;
		position: absolute;
		z-index: -1;
		top: -25%;
		// left: -28%;
		left: 0;
		&.animated {
			// animation: TranslateCloudX 10s ease-in-out 0s infinite;
		}
		@media (max-width: (960px)) {
			display: none;
		}
	}

	.two___sections-cloud-img-right-second {
		position: absolute;
		z-index: -1;
		top: 0;
		// right: -23%;
		right: 0;
		&.animated {
			// animation: TranslateCloudXReverse 10s ease-in-out 0s infinite;
		}
		@media (max-width: (960px)) {
			display: none;
		}
	}
}
.two___sections-clouds {
	pointer-events: none;
	@media (max-width: (600px)) {
		display: none;
	}
}

// input pen
.input {
	padding: 18px 0;
	color: #9e9e9e;
	font-family: Raleway;
	font-size: 14px;
	border-bottom: 1px solid #ffd3de;
	transition: $transition;

	&:focus {
		border-bottom: 1px solid $mainPink;
	}

	&-pen {
		padding: 12px 30px 12px 0;
		color: $black;
		font-size: 18px;
		font-weight: 500;
		line-height: normal;
		border-bottom: 1px solid #ffd3de;
		transition: border-bottom 0.3s ease;
		background: url('/img/icons/edit-icon.svg') no-repeat center right;
		&::placeholder {
			color: $black;
		}
		&:focus {
			border-bottom: 1px solid $mainPink;
		}
		@media (max-width: (768px)) {
			font-size: 16px;
			padding: 10px 30px 10px 0;
		}
	}
}

.price {
	&-item {
		font-family: 'Gotu', sans-serif;
		color: #000;
		font-size: 16px;
		font-weight: 400;
	}
}
.breadcrumps {
	// .breadcrumps__list

	&__list {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	// .breadcrumps__item

	&__item {
		display: flex;
		align-items: center;
		gap: 5px;
		color: #555;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
	}

	// .breadcrumps__link

	&__link {
	}

	// .breadcrumps__item-active

	&__item-active {
		color: #000;
		font-weight: 600;
		font-size: 14px;
	}
}
