.title {
	position: relative;
	font-size: clamp(1.5rem, 1.114rem + 1.93vw, 2.5rem);
	font-weight: 700;
	color: $mainPink;
	font-family: $fontFamily1;
	&-cancel {
		color: #f00 !important;
	}
	&-cart {
		font-size: 25px;
	}
	&-20 {
		font-size: 20px;
		font-weight: 600;
	}
}

.container {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 10px;
	&__big {
		max-width: 1310px;
		margin: 0 auto;
		padding: 0 10px;
	}
	&__900 {
		max-width: 930px;
		margin: 0 auto;
		padding: 0 15px;
	}
}

.none {
	display: none !important;
}

.two__sections-wrapper {
	position: relative;

	.two___sections-cloud-img-right {
		// pointer-events: none;
		position: absolute;
		transform: translateX(80%);
		right: 0;
		top: 0;
	}
	.two___sections-cloud-img-left {
		pointer-events: none;
		position: absolute;
		transform: translateX(-80%);
		top: 22%;
		right: 0;
	}
	.two___sections-cloud-img-left-small {
		pointer-events: none;
		position: absolute;
		transform: translateX(-100%);
		top: 0;
	}
}

// input pen
.input {
	padding: 18px 0;
	color: #9e9e9e;
	font-family: Raleway;
	font-size: 14px;
	border-bottom: 1px solid #ffd3de;
	transition: $transition;

	&:focus {
		border-bottom: 1px solid $mainPink;
	}

	&-pen {
		padding: 12px 30px 12px 0;
		color: $black;
		font-size: 18px;
		font-weight: 500;
		line-height: normal;
		border-bottom: 1px solid #ffd3de;
		transition: border-bottom 0.3s ease;
		background: url('/img/icons/edit-icon.svg') no-repeat center right;
		&::placeholder {
			color: $black;
		}
		&:focus {
			border-bottom: 1px solid $mainPink;
		}
	}
}

.price {
	&-item {
		font-family: 'Gotu', sans-serif;
		color: #000;
		font-size: 16px;
		font-weight: 400;
	}
}
