.myaccountpage {
	.myaccountpage__tabs-icon-right,
	.myaccountpage__tabs-icon-left {
		display: none;
		@media (max-width: (640px)) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	.tabs-content-item {
		animation: fadeEffect 1s; /* Fading effect takes 1 second */
	}
	.breadcrumps__item-arrow-back {
		display: none;
		&::after {
			content: '';
			display: none;
		}
		@media (max-width: (960px)) {
			display: flex;
		}
	}
	position: relative;
	margin-bottom: 91px;
	margin-top: 150px;

	// .myaccountpage__breadcrumps
	&-cloud-left {
		position: absolute;
		pointer-events: none;
		top: 30%;
		left: 0;
		animation: smallTranslateCloud 7s ease-in-out infinite;
		z-index: -1;
	}

	&-cloud-right {
		position: absolute;
		pointer-events: none;
		top: 24%;
		right: 0;
		animation: smallTranslateCloudReverse 7s ease-in-out infinite;
		z-index: -1;
	}

	&__breadcrumps {
	}

	// .myaccountpage__inner

	&__inner {
	}

	// .myaccountpage__title

	&__title {
		text-align: center;
		margin-bottom: 40px;
	}

	// .myaccountpage__tabs-container

	&__tabs-container {
		display: flex;
		align-items: flex-start;
		column-gap: clamp(2.5rem, 1.126rem + 6.87vw, 6.75rem); //108 -40
	}

	// .myaccountpage__tabs-wrapper

	&__tabs-wrapper {
		flex: 0 0 305px;
	}

	// .myaccountpage__tabs

	// .myaccountpage__tabs-ul

	&__tabs-ul {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	// .myaccountpage__tabs-li

	&__tabs-li {
		white-space: nowrap;
	}

	// .myaccountpage__tabs-link

	&__tabs-link {
		padding: 9px 25px;
		border-radius: 10px 0px 0px 10px;
		background: #fff;
		border: 1px solid #ffd3de;
		transition: $transition;

		&.active {
			border: 1px solid #7f1f61;
		}
	}

	// .myaccountpage__tabs-content-wrapper

	&__tabs-content-wrapper {
		flex: 1 1 auto;
	}

	// .myaccountpage__tabs-content

	&__tabs-content {
		// .myaccountpage__tabs-content-item

		&-item {
		}
	}

	.tabs-content {
		&-more {
			max-width: 760px;
			margin-top: 40px;
			text-align: center;
		}
		&-item {
			margin-bottom: 100px;
		}
		&-wrapper {
		}
		&-title {
			font-weight: 600;
			font-size: 20px;
			border-bottom: 2px solid #3f8f8d;
			max-width: 760px;
			padding: 10px 0;
			margin-bottom: 20px;
		}
		&-input {
			max-width: 325px;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&-form {
			display: flex;
			flex-direction: column;
			&-wrapper {
				display: flex;
				flex-wrap: wrap;
				gap: 20px;
			}
			&-left {
				flex: 0 1 40%;
				display: flex;
				flex-direction: column;
			}
			&-right {
				flex: 0 1 40%;
				display: flex;
				flex-direction: column;
			}
			&-bottom {
				flex: 1 1 100%;
				display: flex;
				flex-direction: column;
			}
		}
		&-button {
			align-self: center;
			margin-top: clamp(2.5rem, 1.49rem + 5.05vw, 5.625rem);
			&-more {
				&-wrapper {
					margin-top: clamp(2.5rem, 1.49rem + 5.05vw, 5.625rem); // 90 - 40
					text-align: center;
				}
			}
		}
		&-catalog {
			grid-template-columns: repeat(3, 1fr);
		}
		&-orders {
			display: flex;
			flex-direction: column;
		}
		&-order {
			display: flex;
			flex-direction: column;
			border-bottom: 2px solid $mainLightBlue;
			max-width: 760px;
		}
		&-order-top {
			max-width: 720px;
			display: grid;
			grid-template-columns: 5fr 1fr 1fr 1fr;
			align-items: center;
			gap: 10px;
			justify-items: space-between;
			padding: 20px 0;
			cursor: pointer;
			&.active {
				.tabs-content-order-top-arrow {
					img {
						transform: rotate(180deg);
					}
				}
			}

			&-title {
				font-size: 16px;
				font-family: $fontFamily2;
				color: $mainGrey;
				margin-bottom: 25px;

				&-done {
					font-size: 16px;
					font-weight: 600;
					color: $mainLightBlue;
				}
				&-wrapper {
					align-self: flex-start;
				}
			}
			&-count {
				&-text {
					margin-bottom: 24px;
				}
				&-wrapper {
					align-self: flex-start;
					font-size: 16px;
					font-weight: 500;
					color: $black;
					text-align: center;
				}
				&-number {
					font-family: $fontFamily2;
				}
			}
			&-sum {
				&-text {
					margin-bottom: 24px;
				}

				&-wrapper {
					align-self: flex-start;
					font-size: 16px;
					font-weight: 500;
					color: $black;
					text-align: center;
				}
				&-number {
					font-family: $fontFamily2;
				}
			}
			&-arrow {
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					transition: $transition;
				}
			}
		}
		&-order-bottom {
			max-width: 720px;

			&-text {
				max-width: 521px;
				margin: 0 auto;
				font-family: $fontFamily1;
				font-size: 14px;
				font-weight: 400;
				color: $mainGrey;
				margin-bottom: 20px;
				span {
					color: $black;
					font-family: $fontFamily2;
				}
			}
		}
		&-order-item {
			display: grid;
			grid-template-columns: 5fr 1fr 1fr 1fr;
			gap: 8px;
			align-items: center;
			justify-items: space-between;
			margin-bottom: 20px;

			&-left {
				display: flex;
				gap: 20px;
				align-items: start;
				flex: 0 1 55%;
			}

			&-right {
				align-self: flex-start;
			}

			&-img {
				flex: 0 0 109px;
			}
			&-title {
				display: block;
				font-size: 16px;
				font-weight: 600;
				color: $black;
				margin-bottom: 10px;
			}
			&-sup {
				font-size: 14px;
				color: $mainGrey;
				line-height: normal;
			}
			&-count {
				&-text {
					display: none;
				}
				&-wrapper {
					text-align: center;
					color: $black;

					font-size: 15px;
					font-weight: 500;
					color: #000;
					text-align: center;
				}
				&-num {
					font-family: $fontFamily2;
				}
			}
			&-price {
				font-family: $fontFamily2;
				color: $black;
				text-align: center;
			}
		}
	}

	.catalog {
		// .catalog__content-bottom

		&__content-bottom {
		}

		// .catalog__content-item

		&__content-item {
		}

		// .catalog__content-btn-more

		&__content-btn-more {
		}
	}
	.bestsellers {
		// .bestsellers__item

		&__item {
			padding: 10px;
		}

		// .bestsellers__item-fav-wrapper

		&__item-fav-wrapper {
			opacity: 1;
			right: 7%;
		}

		// .bestsellers__item-info

		&__item-info {
			padding: 10px 0;
		}

		// .bestsellers__item-title

		&__item-title {
		}

		// .bestsellers__item-sup

		&__item-sup {
		}

		// .bestsellers__item-rating-wrapper

		&__item-rating-wrapper {
		}

		// .bestsellers__item-rating-count

		&__item-rating-count {
		}

		// .bestsellers__item-price-wrapper

		&__item-price-wrapper {
		}

		// .bestsellers__item-price

		&__item-price {
		}

		// .bestsellers__item-price-old

		&__item-price-old {
		}
	}
}

.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: 0.2s ease-out;
	opacity: 0;
	visibility: hidden;

	&.active {
		height: auto;
		transition: 0.2s ease-out;
		opacity: 1;
		visibility: visible;
	}
}

@media (max-width: (960px)) {
	.myaccountpage {
		margin-bottom: 55px;
		.bestsellers__item {
			padding: 0;
			&-title {
				font-size: 16px;
			}

			&-sup {
				font-size: 13px;
				margin-bottom: 10px;
			}
			&-fav-wrapper {
				top: 7px;
				right: 7px;
				img {
					width: 15px;
					height: 15px;
				}
			}
		}
		&__tabs-container {
			gap: 50px;
		}
		&__tabs-link {
			padding: 6px 25px;
		}
		.container__big {
			padding: 0 60px;
		}
		&__tabs-wrapper {
			flex: 0 0 215px;
		}
		.catalog__content-bottom {
			gap: 30px 15px;
		}
		.tabs-content-order-top-count-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-self: stretch;
		}
		.tabs-content-order-top-sum-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-self: stretch;
		}
		.tabs-content-order-top-count-text,
		.tabs-content-order-top-sum-text {
			margin-bottom: 0;
		}
		.tabs-content-order-bottom-text {
		}
	}
}
@media (max-width: (840px)) {
	.myaccountpage {
		.tabs-content-input {
			padding: 10px 0;
		}
		.tabs-content-title {
			margin-bottom: 10px;
		}
		.container__big {
			padding: 0 30px;
		}
		&__tabs-container {
			gap: 20px;
		}
		.tabs-content-catalog {
			grid-template-columns: repeat(2, 1fr);
		}
		.catalog__content-bottom {
			gap: 15px;
		}
	}
}
@media (max-width: (640px)) {
	.myaccountpage {
		margin-bottom: 80px;
		.tabs-content-title {
			text-align: center;
		}
		&__tabs-content-wrapper {
			width: 100%;
		}
		.tabs-content-input {
			max-width: 100%;
		}
		&__tabs-container {
			flex-direction: column;
		}
		&__tabs-wrapper {
			position: relative;
			width: 100%;
			margin: 0 auto;
			flex-basis: unset;
			overflow: hidden;
		}
		&__tabs-link {
			border-radius: 0;
			font-size: 18px;
			color: $mainGrey;
			padding: 0;
			border: none;
			&.active {
				border: none;
				font-weight: 600;
				color: $mainLightBlue !important;
			}
		}
		&__tabs-icon-right {
			position: absolute;
			z-index: 2;
			height: 100%;
			right: 0;
			top: 50%;
			background-color: $white;
			transform: translateY(-50%);

			&.swiper-button-disabled {
				display: none;
			}
		}
		&__tabs-icon-left {
			position: absolute;
			z-index: 2;
			height: 100%;
			left: 0;
			top: 50%;
			background-color: $white;
			transform: translateY(-50%);
			&.swiper-button-disabled {
				display: none;
			}
		}

		&__tabs-ul {
			display: flex;
			width: 80%;
			margin: 0 auto;
			align-items: center;
			flex-direction: row;
			flex-wrap: nowrap;
			gap: 10px;
			// overflow-x: scroll;
			// -ms-overflow-style: none;
			// scrollbar-width: none;
			// scroll-behavior: smooth;

			&::-webkit-scrollbar {
				display: none;
			}
		}
		.tabs-content-item {
			margin-bottom: 0;
		}
	}
}
@media (max-width: (500px)) {
	.myaccountpage {
		.tabs-content-order-top-title-done,
		.title-cancel {
			font-size: 14px;
		}
		.tabs-content-order-item {
			grid-template-columns: 5fr 1fr 1fr;
		}
		.tabs-content-order-item-img {
			flex: 0 0 84px;
		}

		.tabs-content-title {
			border-bottom: 1px solid $mainGrey;
			font-size: 18px;
		}
		.tabs-content-order {
			border-bottom: 1px solid $mainGrey;
		}
		.tabs-content-order-top-sum-wrapper,
		.tabs-content-order-top-count-wrapper {
			justify-content: center;
			gap: 10px;
		}
		.tabs-content-order-top-arrow {
			align-self: flex-start;
		}
		.tabs-content-order-top {
			padding: 10px 0;
		}
		.tabs-content-orders div h4 {
			font-size: 14px;
		}
		.tabs-content-button {
			margin-top: 0;
		}
		.tabs-content-form-wrapper {
			flex-direction: column;
		}
	}
}
@media (max-width: (375px)) {
	.myaccountpage {
	}
}
