.carttabs {
	// .carttabs__inner

	&__inner {
	}

	// .carttabs__breadcrumps

	&__breadcrumps {
		margin-bottom: 40px;
	}
}

.breadcrumps {
	// .breadcrumps__list

	&__list {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	// .breadcrumps__item

	&__item {
		display: flex;
		align-items: center;
		gap: 5px;
		color: #555;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		&:not(:last-child) {
			&::after {
				content: '>';
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		&-active {
			color: $black;
			font-weight: 600;
		}
	}

	// .breadcrumps__link

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .breadcrumps__item-active

	&__item-active {
	}
}
