.cartpage {
	margin-bottom: clamp(3.125rem, 1.438rem + 8.44vw, 6.5rem); //104-50px
	margin-top: 150px;

	.myaccountpage-cloud-right {
		top: -15%;
		right: 0;
		z-index: -1;
	}
	.myaccountpage-cloud-left {
		top: -10%;
		left: 0;
		z-index: -1;
	}

	// .cartpage__inner

	&__inner {
		max-height: 65vh;
		overflow: auto;
	}

	// .cartpage__title

	&__title {
		margin-bottom: 20px;
		text-align: center;
	}

	// .cartpage__item

	&__item {
		position: relative;
		display: grid;
		grid-template-columns: 5fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		justify-items: center;
		gap: 8px;
		align-items: center;
		justify-items: space-between;
		padding-bottom: 40px;
		padding-top: 20px;
		border-right: 3px solid $mainLightPink;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			display: block;
			height: 1px;
			width: 95%;
			bottom: 0;
			background-color: $mainLightPink;
		}
	}
	&__item-left {
		display: flex;
		justify-self: flex-start;
		gap: 20px;
	}

	// .cartpage__image

	&__image {
	}

	// .cartpage__item-info

	&__item-info {
		display: flex;
		flex-direction: column;
	}

	// .cartpage__item-title

	&__item-title {
		font-size: 20px;
		font-weight: 600;
		color: $black;
		margin-bottom: 10px;
	}

	// .cartpage__item-sup

	&__item-sup {
		font-size: 16px;
		font-weight: 400;
		color: $mainGrey;
		margin-bottom: 20px;
		flex: 1 1 auto;
	}

	&__item-text {
		font-size: 12px;
		font-weight: 400;
		color: $mainGrey;
	}

	// .cartpage__item-actions

	&__item-actions {
		white-space: nowrap;
		font-family: $fontFamily2;
		font-size: 16px;
		color: $black;
	}

	// .cartpage__item-minus

	&__item-minus {
		cursor: pointer;
	}

	// .cartpage__item-count

	&__item-count {
		margin: 0 20px;
	}

	// .cartpage__item-plus

	&__item-plus {
		cursor: pointer;
	}

	// .cartpage__item-price

	&__item-price {
		font-family: $fontFamily2;
		font-size: 16px;
		color: $black;
	}

	// .cartpage__item-delete

	&__item-delete {
		cursor: pointer;
	}

	// .cartpage__summary

	&__summary {
		display: flex;
		align-items: center;
		column-gap: 47px;
		margin-top: 50px;
		justify-content: flex-end;
		margin-right: 147px;
		margin-bottom: clamp(1.813rem, 1.25rem + 2.81vw, 2.938rem); // 47-29px

		span {
			font-size: 20px;
			font-weight: 600;
		}
		&-price {
			font-size: 20px;
			font-weight: 400;
			font-family: $fontFamily2;
		}
	}

	// .cartpage__summary-price

	&__button-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.breadcrumps__item-arrow-back {
		display: none;
		@media (max-width: (960px)) {
			display: flex;
			margin-right: 10px;
		}
		&::after {
			content: '';
			display: none;
		}
	}
	.breadcrumps__link-home-ico {
		@media (max-width: (960px)) {
			svg {
				width: 24px;
				height: 24px;
			}
		}
	}
}
@media (max-width: (960px)) {
	cartpage .myaccountpage-cloud-right {
		top: -12%;
		right: -27%;
	}
	.cartpage .myaccountpage-cloud-left {
		top: 15%;
		left: -31%;
	}
	.breadcrumps__list {
		gap: 10px;
	}
	.breadcrumps__item {
		font-size: 14px;
		gap: 10px;
		&::after {
			content: '';
			font-size: 20px;
		}
	}
}
@media (max-width: (600px)) {
	.cartpage .myaccountpage-cloud-left,
	.cartpage .myaccountpage-cloud-right {
		display: none;
	}
	.cartpage__button {
		width: 90%;
	}
	.cartpage__summary {
		margin-right: 0;
		margin-top: 35px;
		margin-bottom: 24px;
		justify-content: center;
	}
	.cartpage__item-text {
		font-size: 10px;
	}
	.cartpage__item-sup {
		font-size: 14px;
	}
	.cartpage__item-title {
		margin-bottom: 16px;
		font-size: 16px;
	}
	.carttabs__breadcrumps {
		margin-bottom: 30px;
	}
	.cartpage__item-left {
		grid-column: span 3;
		width: 80%;
	}
	.cartpage__item {
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
	.cartpage__inner {
		max-height: 59vh;
		margin-right: -10px;
	}
}
