.breadcrumps {
	// .breadcrumps__list

	&__list {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	// .breadcrumps__item

	&__item {
		display: flex;
		align-items: center;
		gap: 5px;
		color: #555;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		&:not(:last-child) {
			&::after {
				content: '>';
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		&-active {
			color: $black;
			font-weight: 600;
		}
	}

	// .breadcrumps__link

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .breadcrumps__item-active

	&__item-active {
	}
}

.carttabs {
	margin-bottom: clamp(2.5rem, 1.49rem + 5.05vw, 5.625rem);
	margin-top: 150px;
	// overflow-x: hidden;

	// .carttabs__inner

	.tab-pane {
		animation: fadeEffect 2s; /* Fading effect takes 1 second */
	}

	&__inner {
		flex: 1 1 auto;
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		column-gap: clamp(1.25rem, -0.568rem + 9.09vw, 6.875rem);
	}

	// .carttabs__breadcrumps

	&__breadcrumps {
		margin-bottom: 40px;
	}

	// .carttabs__tabs

	&__tabs {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	// .carttabs__tabs-images

	&__tabs-images {
		position: relative;
		display: flex;
		gap: 20px;
		align-items: flex-start;
		min-height: 525px;
	}
	&__tabs-image {
		flex: 0 1 50%;
		&-1 {
			border-radius: 140px 0px 0px 0px;
			z-index: 1;
		}

		&-2 {
			border-radius: 0px 140.5px 0px 0px;
			align-self: flex-end;
			z-index: 1;
		}
	}

	&__tabs-animation {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__tabs-cloud {
	}

	// .carttabs__tabs-cloud-1

	&__tabs-cloud-1 {
		pointer-events: none;
		position: absolute;
		z-index: 1;
		bottom: -10%;
		left: -10%;
		animation: smallestTranslateCloudReverse 10s ease-in-out infinite;
		animation-fill-mode: forwards;
		animation-play-state: running;
	}

	// .carttabs__tabs-cloud-2

	&__tabs-cloud-2 {
		pointer-events: none;
		z-index: 1;
		position: absolute;
		top: 0;
		right: 0;
		animation: smallestTranslateCloud 10s ease-in-out infinite;
		animation-fill-mode: forwards;
		animation-play-state: running;
	}

	// .carttabs__tabs-figure

	&__tabs-figure {
		position: absolute;
		width: 305px;
		height: 429px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border: 1px solid #3f8f8d;
		border-radius: 170px 170px 0px 152.5px;
	}

	// .carttabs__tabs-images-wrap

	&__tabs-images-wrap {
	}

	&__tabs-titles {
		align-self: end;
		display: flex;
		gap: 20px;
	}

	&__tabs-content {
		position: relative;
		// min-height: 525px;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-self: flex-end;
		flex: 0 1 30%;
		margin-bottom: 40px;
	}

	&__content-count {
		font-size: 12px;
		font-weight: 400;
		font-family: $fontFamily2;
		color: $black;
	}
	&__content-rating {
		display: flex;
		align-items: center;
		gap: 10px;
		margin-bottom: 40px;
		ul {
			gap: 1px;
		}
	}

	// .carttabs__content-title

	&__content-title {
		margin-bottom: 10px;
	}

	// .carttabs__content-sup

	&__content-sup {
		font-size: 16px;
		font-weight: 400;
		color: #8c8c8c;
		margin-bottom: 10px;
	}

	// .carttabs__content-price-wrapper

	&__content-price-wrapper {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-bottom: 43px;
	}

	// .carttabs__content-price

	&__content-price {
		color: $black;
		font-family: Gotu;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	// .carttabs__content-price-old

	&__content-price-old {
		color: $mainLightRed;
		font-family: Gotu;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-decoration: line-through;
	}

	&__content-bottom {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
	}

	// .carttabs__content-select

	&__content-select {
		margin-bottom: 10px;
	}

	// .carttabs__content-button

	&__content-button {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		white-space: nowrap;
		transition: $transition;

		svg {
			position: absolute;
			right: 10%;
			top: 50%;
			transform: translateY(-50%);
			transition: $transition;
			path {
				transition: $transition;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				svg path {
					fill: $mainLightBlue;
				}
			}
		}
	}
	// .carttabs__content-delivery

	&__content-delivery {
		color: #000;
		font-family: Cormorant Garamond;
		font-size: 24px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		// text-decoration-line: underline;
		margin-top: 42px;
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: $mainLightBlue !important;
				text-shadow: 1px 3px 3px rgba(4, 95, 60, 0.5);
			}
		}
	}

	/* Reset Bootstrap tabs styles */
	.nav-tabs .nav-item .nav-link {
		padding: 0;
		background-color: transparent;
		border: none;
		color: inherit;
		border: none;
	}
	.nav-tabs {
		border: none;
	}
	.nav-link {
		transition: $transition;
	}
	.nav-tabs .nav-item .nav-link.active {
		background-color: transparent;
		opacity: 0.5;
	}

	.nav-tabs .nav-item .nav-link:focus,
	.nav-tabs .nav-item .nav-link:hover {
		background-color: transparent;
		border: none;
	}

	.tab-content .tab-pane {
		padding: 0;
		background-color: transparent;
		border: none;
		position: relative;
		z-index: 3;
	}
}

.carttabs2 {
	position: relative;
	margin-bottom: clamp(3.125rem, 1.388rem + 8.69vw, 8.5rem); //136-40
	// .carttabs2__content

	&__bg-left {
		pointer-events: none;
		position: absolute;
		left: 0;
		top: -30%;
		&.animated {
			animation: smallTranslateCloud 6s ease-in-out infinite;
		}
	}
	&__bg-right {
		pointer-events: none;
		position: absolute;
		right: 0;
		top: -200%;
		&.animated {
			animation: smallTranslateCloudReverse 6s ease-in-out infinite;
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-inner {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 850px;
		gap: 20px;
		margin-bottom: 10px;
	}
	&__tabs {
		&-titles {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 20px;
			margin-bottom: 10px;
		}
	}
	&-item {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&-link {
		padding: 10px 70px;
		background-color: $white;
		font-size: 18px;
		font-weight: 500;
		border-radius: 15px 15px 0px 0px;
		border: 2px solid #ffd3de;
		transition: $transition;
		&.active {
			border: 2px solid #7f1f61;
		}
	}

	&__body {
		max-width: 850px;
		margin: 0 auto;
		padding: 30px 45px 46px;
		border: 2px solid #ffd3de;
		color: $black;
	}

	// .carttabs2__body-title

	&__body-title {
		font-weight: 600;
		margin-bottom: 30px;
	}

	// .carttabs2__body-text

	&__body-text {
		font-size: 16px;
		font-weight: 400;
		line-height: 144%;
		span {
			font-style: italic;
			font-weight: 500;
		}
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}
.reviews {
	&__button-wrapper {
		display: none;
	}
}
@media (max-width: (960px)) {
	.carttabs {
		padding: 0 50px;
	}
	.carttabs__tabs {
		row-gap: 40px;
	}
	.carttabs__inner {
		flex: 1 0 490px;
	}
	.carttabs__tabs-cloud-1 {
		width: 380px;
		height: 140px;
		bottom: -5%;
		z-index: 1;
	}
	.carttabs__tabs-cloud-2 {
		width: 341px;
		height: 140px;
		right: 12%;
	}
	.carttabs__tabs-figure {
		width: 230px;
		height: 430px;
	}
	.carttabs__tabs-images {
		min-height: 417px;
		column-gap: 52px;
		justify-content: space-between;
	}
	.carttabs__tabs-image-1 {
		flex: 0 0 215px;
		max-width: 215px;
		max-height: 256px;
		object-fit: cover;
	}
	.carttabs__tabs-image-2 {
		flex: 0 0 215px;
		max-height: 281px;
		height: 281px;
		object-fit: cover;
		max-width: 215px;
	}
	.carttabs__tabs-titles {
		column-gap: 30px;
		img {
			width: 71px;
			height: 48px;
		}
	}
	.carttabs__content-button {
		padding: 15px;
		width: 100%;
	}
	.carttabs__content-button-add {
		justify-content: space-between;
		column-gap: 20px;
	}
	.carttabs__content-button svg {
		position: relative;
		right: unset;
		top: unset;
		transform: translate(0px, 0px);
	}
	.carttabs__content-delivery {
		font-size: 14px;
		text-decoration: underline;
		font-weight: 400;
	}

	.carttabs2 {
		&-link {
			padding: 10px 20px;
			font-size: 16px;
			&-padding {
				padding: 10px 62px;
			}
		}
		&__bg-left {
			z-index: -1;
		}
		&__bg-right {
			z-index: -1;
		}
		&__tabs-titles {
			column-gap: 51px;
			max-width: 550px;
			margin: 0 auto 10px;
		}
		&__body {
			max-width: 700px;
		}
	}
	.reviews {
		&__wrapper {
			padding: 0 45px;
			flex-direction: column-reverse;
		}
		&__form-wrapper {
			max-width: 740px;
			width: 100%;
			margin: 0 auto;
			flex: 1 1 auto;
			align-self: stretch;
			padding: 30px 70px;
			margin-bottom: 40px;
		}
		&__form {
			display: grid;
			justify-items: flex-start;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(4, minmax(50px, 1fr));
		}
		&__form-button {
			margin: unset;
			margin-top: 40px;
		}

		&__form-area {
			grid-row: 1/6;
			grid-column: 2 / 3;
			margin-bottom: 0;
		}

		&__content {
			max-width: 100%;
		}
		&__item {
			column-gap: 50px;
		}
		&__item-image-wrapper {
			row-gap: 20px;
		}
		.reviews-pagination {
			display: none;
		}
		&__button-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 40px;
		}
	}
	.form-wrapper .form-cloud-1,
	.form-wrapper .form-cloud-2 {
		display: block;
	}
	.form-wrapper .form-cloud-1 {
		bottom: -153%;
		left: -12%;
	}
	.form-wrapper .form-cloud-2 {
		bottom: -147%;
		right: 27%;
		left: unset;
	}
}
@media (max-width: (800px)) {
	.carttabs {
		padding: 0 20px;
		margin-bottom: 40px;
		&__wrapper {
			gap: 20px;
			flex-direction: column;
		}
		&__inner {
			margin: 0 auto;
		}
		&__content {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin-bottom: 0;
			&-rating {
				margin-bottom: 10px;
			}
			&-price-wrapper {
				margin-bottom: 20px;
			}
		}
	}
}
@media (max-width: (500px)) {
	.carttabs {
		margin-top: 80px;

		.carttabs__content-button-wrapper{
			
		}

		.carttabs__content {
			align-items: stretch;
		}
		.carttabs__content-title {
			align-self: center;
		}

		.carttabs__content-sup {
			font-size: 13px;
			color: #555;
			align-self: center;
		}
		.carttabs__content-rating {
			display: none;
		}
		.carttabs__content-price-wrapper {
			justify-items: start;
		}

		.carttabs__inner {
			flex: unset;
		}
		&__tabs-image-1 {
			width: 148px;
			flex: unset;
			height: 250px;
			border-radius: 100px 0px 0px 0px;
		}
		&__tabs-image-2 {
			width: 148px;
			flex: unset;
			height: 250px;
			border-radius: 0px 100px 0px 0px;
		}
		&__tabs-titles {
			flex-wrap: nowrap;
			gap: 20px;
		}
		&__tabs-images {
			column-gap: 10px;
			min-height: 326px;
		}
		.carttabs__tabs-figure {
			width: 146px;
			height: 274px;
		}
		.carttabs__tabs-cloud-2 {
			right: 0;
		}
		.carttabs__tabs-cloud-1 {
			left: -20%;
		}
	}
}
