.emptycart {
	&__popup {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5); /* Чорний напівпрозорий фон */
		overflow: auto;
		z-index: 10;
	}

	&__popup-cloud {
		position: absolute;
		pointer-events: none;
		z-index: -1;
		&-left {
			top: 0;
			left: 0;
		}

		&-right {
			bottom: 0;
			right: 0;
		}
	}

	&__popup-body {
		max-height: 50vh;
		overflow-y: auto;
	}

	&__popup-content {
		position: relative;
		background-color: #fff; /* Колір вмісту попапу */
		max-width: 846px;
		width: 100%;
		height: auto;
		overflow: auto;
		margin: 70px auto;
		border-radius: 15px;
		background: #fff;
		padding: 20px 40px 45px;
		z-index: 11;
	}

	&__popup-top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
		gap: 10px;
	}

	&__popup-close-wrapper {
		cursor: pointer;
	}

	&__popup-summary {
		margin-right: 0;
		justify-content: center;
	}
}
@media (max-width: (960px)) {
	.emptycart__popup {
		.cartpage__item {
			padding-bottom: 17px;
		}
		&-body {
			max-height: 43vh;
		}
		.cartpage__summary {
			margin: 25px 0;
		}
	}
}
@media (max-width: (500px)) {
	.emptycart__popup {
		z-index: 7;
		&-cloud {
			display: none;
		}

		&-title {
			max-width: 190px;
		}

		&-body {
			max-height: 55vh;
			margin-right: -20px;
		}

		&-content {
			padding: 30px 20px;
			border-radius: 0;
			border-top: 1px solid $mainLightBlue;
			margin: 70px auto 0;
			height: 100%;
		}
		&-top {
			margin-bottom: 30px;
		}
	}
}
