.footer {
	margin-bottom: clamp(0.938rem, 0.634rem + 1.52vw, 1.875rem);
	// .footer__container
	&__item-spoller1 {
		display: none;
	}
	&__item-spoller2 {
		display: none;
	}

	&__container {
		max-width: 1310px;
		padding: 0 10 px;
		margin: 0 auto;
	}

	// .footer__inner

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		column-gap: clamp(1.25rem, 0.644rem + 3.03vw, 3.125rem);
	}

	// .footer__logo

	&__logo {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 200px;
	}

	// .footer__logo-img

	&__logo-img {
	}

	// .footer__item

	&__item {
		flex: 1 1 auto;
	}

	// .footer__item-title

	&__item-title {
		display: inline-flex;
		font-size: 18px;
		font-weight: 500;
		color: $black;
		margin-bottom: clamp(1.25rem, 0.846rem + 2.02vw, 2.5rem);
	}

	// .footer__item-list

	&__item-list {
	}

	// .footer__item-li

	&__item-li {
		display: block;
		font-weight: 300;
		font-size: 16px;
		margin: 8px 0;
		white-space: nowrap;
		transition: $transition;
		@media (any-hover: hover) {
			&:hover {
				a {
					color: #3f8f8d;
					text-decoration: underline;
				}
				.footer__item-socials-img {
					text-decoration: none;
				}
			}
		}
	}

	// .footer__item-link

	&__item-link {
		font-size: 14px;
		display: block;
		padding: 5px 0;
		transition: $transition;
	}

	// .footer__item-mail

	&__item-mail {
		font-size: 16px;
		text-decoration: underline;
		font-weight: 500;
		color: $black;
	}

	// .footer__item-work-hours

	&__item-work-hours {
		span {
			font-family: $fontFamily1;
			font-size: 16px;
			color: $black;
			font-weight: 500;
		}
		font-family: $fontFamily2;
	}

	// .footer__item-tel

	&__item-tel {
		font-family: $fontFamily2;
	}

	// .footer__item-socials

	&__item-social {
		padding-top: clamp(1.25rem, 0.907rem + 1.72vw, 2.313rem);
		padding-bottom: clamp(1.25rem, 0.907rem + 1.72vw, 2.313rem);
		display: flex;
		gap: 10px;
	}

	// .footer__item-socials-img

	&__item-socials-img {
	}
}

// media
@media (max-width: (1102px)) {
	.footer {
		&__inner {
			gap: 20px;
		}
		&__logo {
			flex: 0 0 122px;
			width: 122px;
		}
	}
}
@media (max-width: (960px)) {
	.footer {
		&__inner {
			display: grid;
			grid-template-columns: 120px 1fr 1fr 1fr;
		}
		&__logo {
			grid-row: 1/3;
		}
		&__item-list-social {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			// justify-items: center;
			gap: 30px;
		}
		&__item {
			&-title {
				font-size: 14px;
				font-weight: 600;
			}
			&:last-child {
				grid-column: 2/-1;
			}
			&-li {
				font-size: 14px;
			}
		}
		&__item-social {
			padding: 0;
			column-gap: 30px;
		}
	}
}
@media (max-width: (768px)) {
	.footer {
		&__inner {
			grid-template-columns: 120px 1fr 1fr;
			gap: 10px;
		}
		&__item-list-social {
			justify-items: center;
		}
		&__item-list-social {
			display: block;
		}
		&__item:last-child {
			grid-column: unset;
		}
	}
}
@media (max-width: (576px)) {
	.footer {
		&__inner {
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 220px;
			margin: 0 auto;
		}
		&__item-notSpoller {
			display: none;
		}
		&__item-spoller1 {
			display: block;
			&-title {
				&.active {
					.footer__item-arrow {
						transform: rotate(180deg);
					}
				}
			}
		}
		&__item-spoller2 {
			display: block;
			&-title {
				&.active {
					.footer__item-arrow {
						transform: rotate(180deg);
					}
				}
			}
		}
	}
}
