.form-wrapper {
	position: relative;
	margin-bottom: clamp(2.5rem, 1.341rem + 5.8vw, 5.688rem);
	.form-cloud {
		position: absolute;

		z-index: -1;
		pointer-events: none;
	}
	.form-cloud-1 {
		bottom: -130px;
		left: 0;
		&.animated {
			animation: smallTranslateCloud 10s ease-in-out infinite;
		}
	}
	.form-cloud-2 {
		bottom: -135%;
		right: 0;
		left: unset;
		&.animated {
			animation: smallTranslateCloudReverse 10s ease-in-out infinite;
		}
	}
	.main-form {
		max-width: 670px;
		margin: 0 auto;
		margin-bottom: clamp(2.5rem, 1.341rem + 5.8vw, 5.688rem);
	}
	.form {
	}
	.form-title {
		text-align: center;
		margin-bottom: 40px;
	}
	.title {
	}
	.form-group {
		display: flex;
		row-gap: 30px;
		flex-direction: column;
	}
	.form-input {
		border-radius: 15px;
		padding: 30px 15px;
		background: rgba(255, 211, 222, 0.4);
	}
	.form-button {
		align-self: center;
	}
}

.form-wrapper {
	.main-form {
		max-width: 670px;
		margin: 0 auto;
	}

	.form {
	}

	.form-title {
		text-align: center;
		margin-bottom: 40px;
	}

	.title {
	}

	.form-group {
		display: flex;
		row-gap: 30px;
		flex-direction: column;
	}

	.form-input {
		border-radius: 15px;
		color: $mainGrey;
		font-size: 16px;
		padding: 30px 20zpx;
		background: rgba(255, 211, 222, 0.4);
		transition: $transition;
	}

	.form-input:hover,
	.form-input:focus {
		background: rgba(255, 211, 222, 0.6);
		box-shadow: 0px -80px 65px 0px rgba(212, 212, 212, 0.2) inset,
			0px 1px 40px 0px rgba(226, 226, 226, 0.2) inset, 0px 4px 16px 0px rgba(233, 233, 233, 0.2),
			0px 16px 32px 0px rgba(0, 0, 0, 0.17);
	}

	.form-button {
		align-self: center;
	}

	.button {
	}

	.button-accent {
	}
}
