.container__header {
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	z-index: 9;
	padding: 10px 0;
	transition: transform 0.6s ease-in-out;
	&.header-scroll {
		transform: translateY(-100%);
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: inherit;
	}

	// .header__inner
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}

	// .header__logo
	&__logo {
		position: relative;
		flex: 0 0 110px;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 110px;
			height: 100%;
		}
	}

	// .header__menu
	&__menu {
		font-size: 14px;
		flex: 1 1 auto;
		color: $black;
		margin-left: clamp(1.875rem, -35.305rem + 66.1vw, 18.813rem);
		transition: $transition;
		@media (max-width: (960px)) {
			display: none;
		}
	}

	// .header__menu-list

	&__menu-list {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: 40px;
	}

	// .header__menu-item

	&__menu-item {
		// position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 10px 0;
		transition: $transition;

		@media (any-hover: hover) {
			&:hover {
				.header__menu-icon-arrow {
					transform: rotate(180deg);
				}

				.header__submenu-block {
					opacity: 1;
					visibility: visible;
					transform: rotateX(-0deg);
				}
			}
		}
	}

	// .header__menu-link

	&__menu-link {
		transition: $transition;
		&.active {
			color: $mainLightRed !important;
			padding-bottom: 5px;
		}

		&-red {
			color: $mainLightRed !important;
		}

		// .header__menu-link-inner
		&-inner {
			cursor: pointer;
			display: flex;
			align-items: center;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $mainLightBlue !important;
				text-shadow: 1px 3px 3px rgba(4, 95, 60, 0.5);
			}
		}
	}

	// .header__submenu-block-nner

	&__submenu-block-inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		column-gap: 90px;
	}

	// .header__submenu-block

	&__submenu-block {
		z-index: 3;
		position: absolute;
		top: 100%;
		left: -100px;
		opacity: 0;
		transform-origin: 0 0;
		transform: rotateX(-90deg);
		visibility: hidden;
		background-color: $white;
		padding: 40px 20px 20px 20px;
		min-width: 150px;
		transition: $transition_2;
		box-shadow: 0px 8px 26px 6px rgba(0, 0, 0, 0.2);
		border-radius: 0px 80px 0px 0px;
	}

	// .header__submenu-lists

	&__submenu-lists {
		display: grid;
		gap: 80px;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
	}

	// .header__submenu-item

	&__submenu-item {
		width: 100%;
		width: 140px;

		li {
			display: block;
			font-weight: 300;
			font-size: 16px;
			margin-bottom: 8px;
			white-space: nowrap;
			transition: $transition;
			@media (any-hover: hover) {
				&:hover {
					color: $mainLightBlue;
					font-weight: 700;
					padding-left: 8px;
				}
			}
		}

		a {
			padding: 4px 0;
		}
	}

	// .header__submenu-title

	&__submenu-title {
		display: inline-flex;
		font-size: 18px;
		font-weight: 500;
		color: $black;
		margin-bottom: 10px;
	}

	// .header__submenu-visual

	&__submenu-visual {
	}

	// .header__submenu-image

	&__submenu-image {
		padding-bottom: 152%;
		// filter: drop-shadow(0px 8px 26px rgba(0, 0, 0, 0.2));
		margin-bottom: 10px;
	}

	// .header__submenu-button

	&__submenu-button {
		white-space: nowrap;
		display: flex;
		justify-content: center;
		width: 250px;
	}

	// .header__search

	&__search {
		display: flex;
		align-items: flex-start;
		gap: 10px;

		&-wrapper {
			position: relative;
			transform: translateX(0);
			display: flex;
			align-items: flex-start;
			gap: 10px;
			border: none;
			padding: 0;
			transition: $transition;
		}
		&-body {
			display: none;
		}

		// .header__search-input
		&-input {
			border-bottom: 1px solid $black;
			width: 100%;
			max-width: 100px;
			padding: 2px 5px;

			@media (max-width: (960px)) {
				max-width: 200px;
			}
		}
		&::before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 2;
			opacity: 0;
			visibility: hidden;
		}
	}

	// .header__search-button

	&__search-button {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 24px;
		height: 23px;
		display: block;
		position: relative;
		cursor: pointer;

		&::after {
			content: attr(data-title);
			position: absolute;
			bottom: -55px;
			left: 50%;
			transform: translateX(-50%);
			background: url('/img/icons/icon-action-sup.svg') 0 0 no-repeat;
			color: $black;
			padding: 13px 10px;
			font-size: 12px;
			opacity: 0;
			pointer-events: none;
			white-space: nowrap;
			transition: opacity 0.2s, transform 0.2s;
		}

		&:hover::after {
			opacity: 1;
			transform: translateX(-50%) translateY(-5px);
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	.header__wrap {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		gap: 15px;
		position: relative;
		transition: all 0.6s ease;
		margin-right: 15px;

		@media (max-width: (960px)) {
			justify-content: center;
		}
	}

	// .header__actions

	&__actions {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 15px;
		.header__actions-cart {
			position: relative;
			cursor: pointer;

			&::after {
				content: attr(data-title);
				position: absolute;
				bottom: -55px;
				left: 50%;
				transform: translateX(-50%);
				background: url('/img/icons/icon-action-sup.svg') 0 0 no-repeat;
				color: $black;
				padding: 13px 10px;
				font-size: 12px;
				opacity: 0;
				pointer-events: none;
				white-space: nowrap;
				transition: opacity 0.2s, transform 0.2s;
			}

			&:hover::after {
				opacity: 1;
				transform: translateX(-50%) translateY(-5px);
			}
		}
		.header__actions-favorite {
			position: relative;
			cursor: pointer;

			&::after {
				content: attr(data-title);
				position: absolute;
				bottom: -55px; /* відстань від підказки до іконки */
				left: 50%;
				transform: translateX(-50%);
				background: url('/img/icons/icon-action-sup-fav.svg') 0 0 no-repeat;
				color: $black;
				padding: 13px 10px;
				// border-radius: 5px;
				// border: 1px solid $mainLightPink;
				font-size: 12px;
				opacity: 0;
				pointer-events: none;
				white-space: nowrap;
				transition: opacity 0.2s, transform 0.2s;
			}
			&:hover::after {
				opacity: 1;
				transform: translateX(-50%) translateY(-5px);
			}
		}
		.header__actions-user {
			position: relative;
			cursor: pointer;

			&::after {
				content: attr(data-title);
				position: absolute;
				bottom: -60px; /* відстань від підказки до іконки */
				left: 50%;
				transform: translateX(-50%);
				background: url('/img/icons/icon-action-sup-big.svg') 0 0 no-repeat;
				color: $black;
				padding: 13px 10px;
				// border-radius: 5px;
				// border: 1px solid $mainLightPink;
				font-size: 12px;
				opacity: 0;
				pointer-events: none;
				white-space: nowrap;
				transition: opacity 0.2s, transform 0.2s;
			}
			&:hover::after {
				opacity: 1;
				transform: translateX(-50%) translateY(-5px);
			}
		}
	}

	// .header__actions-inner

	&__actions-inner {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	// .header__actions-user

	&__actions-user {
		flex: 0 0 24px;
		img {
			transition: all 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.2);
				}
			}
		}
		@media (max-width: (960px)) {
			display: none;
		}
	}

	// .header__actions-favorite

	&__actions-favorite {
		flex: 0 0 24px;
		img {
			transition: all 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.2);
				}
			}
		}

		@media (max-width: (960px)) {
			display: none;
		}
	}

	// .header__actions-cart

	&__actions-cart {
		flex: 0 0 24px;
		img {
			transition: all 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.2);
				}
			}
		}
	}
}

.search-open {
	.header__menu {
		display: none;
	}
	.header__wrap {
	}
	.header__search {
		transition: $transition;
		&-wrapper {
			position: absolute;
			left: 200px;
			&-body {
			}
			&-input {
			}
			&::before {
			}
		}
	}
}

// burger

.burger-menu {
	display: none;
}
@media (max-width: (960px)) {
	.burger-menu {
		display: block;
		margin-left: 40px;
	}

	.burger-menu-icon {
		position: relative;
		display: block;
		width: 30px;
		height: 20px;
		span {
			position: absolute;
			height: 2px;
			background-color: $black;
			right: 0;
			width: 100%;
			transition: $transition;
			top: 0;
		}
		&::before,
		&::after {
			content: '';
			width: 100%;
			height: 2px;
			background-color: $black;
			position: absolute;
			right: 0;
			transition: $transition;
		}
		&::before {
			top: 50%;
			transform: translateY(-50%);
		}
		&::after {
			content: '';
			bottom: 0;
		}
		&.active {
			&::before {
				content: '';
				width: 60%;
			}
			&::after {
				content: '';
				width: 30%;
			}
		}
	}

	.burger-menu-body {
		position: fixed;
		top: -200%;
		right: 0;
		width: 100%;
		height: 100%;
		padding: 120px 100px;
		overflow: auto;
		z-index: -1;
		transition: $transition;

		&.active {
			top: 0;
		}
	}
	.burger-menu-lists {
		padding: 20px 52px;
		background-color: $white;
		color: $black;
		box-shadow: 0px 5px 25px 7px rgba(0, 0, 0, 0.25);
	}
	.burger-menu {
	}
	.burger-menu-icon {
	}
	.burger-menu-body {
	}
	.burger-menu-lists {
	}
	.burger-menu-list-item-wrapper {
		border-bottom: 2px solid $mainLightBlue;
		padding: 15px 20px;
	}
	.burger-menu-list-item-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 18px;
		color: $black;
		font-weight: 500;
		&.active {
			.burger-menu-list-item-arrow {
				transform: rotate(180deg);
			}
		}
	}
	.burger-menu-list-item {
	}
	.burger-menu-list-item-arrow {
		transition: all 0.4s ease 0s;
	}
	.burger-menu-sublist-wrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 10px;
	}
	.burger-menu-sublist {
		li {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
	.burger-menu-sublist-title {
		padding-top: 20px;
		font-size: 16px;
		color: $black;
		font-weight: 500;
	}
	.burger-menu-sublist-item {
		font-size: 14px;
		font-weight: 300;
	}
	.burger-menu-list-item-arrow-right {
	}
	.burger-menu-actions {
		padding: 15px 20px 0 20px;
		display: grid;
		grid-template-columns: 1fr auto auto;
		justify-items: center;
	}

	.burger-menu-button-wrapper {
		grid-column: 1;
		text-align: center;
		margin-left: clamp(1.25rem, -0.568rem + 9.09vw, 6.25rem); // 100px 0
	}

	.burger-menu-actions-user-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 30px;
	}
	.burger-menu-actions-favorite-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: (760px)) {
	.burger-menu-lists {
		padding: 20px;
	}
	.burger-menu-body {
		padding: 100px 0;
	}
}
@media (max-width: (600px)) {
	.burger-menu-body {
		background-color: white;
	}
	.header__logo img {
		width: 64px;
		object-fit: contain;
	}
	.burger-menu-lists {
		box-shadow: unset;
		padding: 0px 20px;
	}
}

@media (max-width: (500px)) {
	.header__search-input {
		display: none;
	}
	.header .header__wrap {
		justify-content: unset;
		width: unset;
	}
	.burger-menu-body {
		padding: 76px 0 30px 0;
	}
	.burger-menu-list-item-inner {
		font-size: 16px;
		font-weight: 600;
		.burger-menu-list-item-arrow {
			width: 26px;
			height: 25px;
		}
		.burger-menu-list-item-arrow-right {
			width: 22px;
			height: 22px;
		}
	}
	.burger-menu-lists {
		padding: 0px;
		border-top: 1px solid $mainLightBlue;
	}
	.header {
		height: 70px;
	}
	.burger-menu-list-item-wrapper {
		border-bottom: 1px solid #3f8f8d;
		padding: 13px 30px 23px;
	}
	.burger-menu-sublist-wrapper {
		display: block;
	}
	.burger-menu-sublist {
		padding-left: 20px;
		&-title {
			padding-top: 12px;
		}
		&-item {
			padding-left: 20px;
		}
	}
	.burger-menu-actions {
		margin-top: calc(100% - 30px);
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.burger-menu-button-wrapper {
		margin-left: unset;
	}
	.burger-menu-actions-user-wrapper {
		margin-right: unset;
	}
}
