.container__header {
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 9;
	padding: 10px 0;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: inherit;
	}

	// .header__inner
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}

	// .header__logo
	&__logo {
		position: relative;
		flex: 0 0 110px;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 0 0 110px;
			height: 100%;
		}
	}

	// .header__menu
	&__menu {
		font-size: 14px;
		flex: 1 1 auto;
		color: $black;
		margin-left: clamp(1.875rem, -35.305rem + 66.1vw, 18.813rem);
		transition: $transition;
		@media (max-width: (960px)) {
			display: none;
		}
	}

	// .header__menu-list

	&__menu-list {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: 40px;
	}

	// .header__menu-item

	&__menu-item {
		// position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 10px 0;
		transition: $transition;

		@media (any-hover: hover) {
			&:hover {
				.header__menu-icon-arrow {
					transform: rotate(180deg);
				}

				.header__submenu-block {
					opacity: 1;
					visibility: visible;
					transform: rotateX(-0deg);
				}
			}
		}
	}

	// .header__menu-link

	&__menu-link {
		transition: $transition;
		&.active {
			color: $mainLightRed !important;
			padding-bottom: 5px;
		}

		&-red {
			color: $mainLightRed !important;
		}

		// .header__menu-link-inner
		&-inner {
			cursor: pointer;
			display: flex;
			align-items: center;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $mainLightBlue !important;
				text-shadow: 1px 3px 3px rgba(4, 95, 60, 0.5);
			}
		}
	}

	// .header__submenu-block-nner

	&__submenu-block-inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		column-gap: 90px;
	}

	// .header__submenu-block

	&__submenu-block {
		z-index: 3;
		position: absolute;
		top: 100%;
		left: -100px;
		opacity: 0;
		transform-origin: 0 0;
		transform: rotateX(-90deg);
		visibility: hidden;
		background-color: $white;
		padding: 40px 20px 20px 20px;
		min-width: 150px;
		transition: all 0.4s ease 0s;
		box-shadow: 0px 8px 26px 6px rgba(0, 0, 0, 0.2);
		border-radius: 0px 80px 0px 0px;
	}

	// .header__submenu-lists

	&__submenu-lists {
		display: grid;
		gap: 80px;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
	}

	// .header__submenu-item

	&__submenu-item {
		width: 100%;
		width: 140px;

		li {
			display: block;
			font-weight: 300;
			font-size: 16px;
			margin-bottom: 8px;
			white-space: nowrap;
			transition: $transition;
			@media (any-hover: hover) {
				&:hover {
					color: $mainLightBlue;
					font-weight: 700;
					padding-left: 8px;
				}
			}
		}

		a {
			padding: 4px 0;
		}
	}

	// .header__submenu-title

	&__submenu-title {
		display: inline-flex;
		font-size: 18px;
		font-weight: 500;
		color: $black;
		margin-bottom: 10px;
	}

	// .header__submenu-visual

	&__submenu-visual {
	}

	// .header__submenu-image

	&__submenu-image {
		padding-bottom: 152%;
		// filter: drop-shadow(0px 8px 26px rgba(0, 0, 0, 0.2));
		margin-bottom: 10px;
	}

	// .header__submenu-button

	&__submenu-button {
		white-space: nowrap;
		display: flex;
		justify-content: center;
		width: 250px;
	}

	// .header__search

	&__search {
		display: flex;
		align-items: flex-start;
		gap: 10px;

		&-wrapper {
			position: relative;
			transform: translateX(0);
			display: flex;
			align-items: flex-start;
			gap: 10px;
			border: none;
			padding: 0;
			transition: $transition;
		}
		&-body {
			display: none;
		}

		// .header__search-input
		&-input {
			border-bottom: 1px solid $black;
			width: 100%;
			max-width: 100px;
			padding: 2px 5px;

			@media (max-width: (960px)) {
				max-width: 200px;
			}
		}
		&::before {
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 2;
			opacity: 0;
			visibility: hidden;
		}
	}

	// .header__search-button

	&__search-button {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 24px;
		height: 23px;
		img {
			width: 100%;
			height: 100%;
		}
	}

	.header__wrap {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		gap: 15px;
		position: relative;
		transition: all 0.6s ease;
		margin-right: 15px;

		@media (max-width: (960px)) {
			justify-content: center;
		}
	}

	// .header__actions

	&__actions {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 15px;
	}

	// .header__actions-inner

	&__actions-inner {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	// .header__actions-user

	&__actions-user {
		flex: 0 0 24px;
		img {
			transition: all 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.2);
				}
			}
		}
		@media (max-width: (960px)) {
			display: none;
		}
	}

	// .header__actions-favorite

	&__actions-favorite {
		flex: 0 0 24px;
		img {
			transition: all 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.2);
				}
			}
		}

		@media (max-width: (960px)) {
			display: none;
		}
	}

	// .header__actions-cart

	&__actions-cart {
		flex: 0 0 24px;
		img {
			transition: all 0.3s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				img {
					transform: scale(1.2);
				}
			}
		}
	}
}

.search-open {
	.header__menu {
		display: none;
	}
	.header__wrap {
	}
	.header__search {
		transition: $transition;
		&-wrapper {
			position: absolute;
			left: 200px;
			&-body {
			}
			&-input {
			}
			&::before {
			}
		}
	}
}

// burger

.burger-menu {
	display: none;
}
@media (max-width: (960px)) {
	.header__logo {
		height: 70px;
	}

	.burger-menu {
		display: block;
		margin-left: 40px;
	}

	.burger-menu-icon {
		position: relative;
		display: block;
		width: 30px;
		height: 20px;
		span {
			position: absolute;
			height: 2px;
			background-color: $black;
			right: 0;
			width: 100%;
			transition: $transition;
			top: 0;
		}
		&::before,
		&::after {
			content: '';
			width: 100%;
			height: 2px;
			background-color: $black;
			position: absolute;
			right: 0;
			transition: $transition;
		}
		&::before {
			top: 50%;
			transform: translateY(-50%);
		}
		&::after {
			content: '';
			bottom: 0;
		}
		&.active {
			&::before {
				content: '';
				width: 60%;
			}
			&::after {
				content: '';
				width: 30%;
			}
		}
	}

	.burger-menu-body {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		padding: 100px;
		overflow: auto;
		z-index: -1;
		transition: $transition;

		&.active {
			right: 0;
		}
	}
	.burger-menu-lists {
		padding: 20px 77px;
		background-color: $white;
		color: $black;
		box-shadow: 0px 5px 25px 7px rgba(0, 0, 0, 0.25);
	}
	.burger-menu {
	}
	.burger-menu-icon {
	}
	.burger-menu-body {
	}
	.burger-menu-lists {
	}
	.burger-menu-list-item-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.burger-menu-list-item {
		font-size: 18px;
		color: $black;
		font-weight: 500;
	}
	.burger-menu-list-item-arrow {
	}
	.burger-menu-sublist-wrapper {
	}
	.burger-menu-sublist {
	}
	.burger-menu-sublist-title {
	}
	.burger-menu-sublist-item {
	}
	.burger-menu-list-item-arrow-right {
	}
}
