.hi {
	position: relative;
	padding-bottom: 220px;
	margin-bottom: clamp(1.25rem, 0.842rem + 2.04vw, 2.5rem);
	overflow: hidden;

	.hi-cloud {
		position: absolute;
		z-index: -1;
	}
	.hi-cloud-1 {
		position: absolute;
		bottom: 0;
		right: 0;
		&.animated {
			animation: smallTranslateCloudReverse 10s ease-in-out infinite;
		}
	}
	.hi-cloud-2 {
		position: absolute;
		top: -63%;
		left: -33%;
	}
	.hi-cloud-3 {
		position: absolute;
		top: -47%;
		right: -25%;
	}

	&__container {
		max-width: 1310px;
		margin: 0 auto;
		padding: 0 20px;
	}

	// .hi__inner

	&__inner {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		// column-gap: clamp(1.25rem, -0.179rem + 7.14vw, 5.625rem);
		column-gap: 90px;
	}

	// .hi__info

	&__info {
		max-width: 650px;
	}

	// .hi__title

	&__title {
		margin-bottom: clamp(0.938rem, 0.427rem + 2.55vw, 2.5rem);
	}

	// .hi__info-block

	&__info-block {
		&:not(:last-child) {
			margin-bottom: clamp(1.875rem, 1.263rem + 3.06vw, 3.75rem);
		}
	}

	// .hi__info-title

	&__info-title {
		color: black;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: clamp(0.625rem, 0.421rem + 1.02vw, 1.25rem);
	}

	// .hi__info-text

	&__info-text {
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
		color: $mainGrey;

		span {
			color: $mainGrey;
			font-weight: 600;
			font-style: italic;
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	// .hi__image-block
	&__image-wrapper {
		flex: 0 0 calc(530px / 1310px * 100%);
	}
	&__image-block {
		position: relative;
		margin: 0 60px;

		&::before {
			content: '';
			position: absolute;
			bottom: -5%;
			left: 50%;
			width: 130%;
			height: 70%;
			border-radius: 50px;
			background: rgba(217, 217, 217, 0.01);
			box-shadow: 0px -80px 65px 0px rgba(212, 212, 212, 0.2) inset,
				0px 1px 40px 0px rgba(226, 226, 226, 0.2) inset, 0px 4px 16px 0px rgba(233, 233, 233, 0.2),
				0px 16px 32px 0px rgba(0, 0, 0, 0.17);
			-webkit-backdrop-filter: blur(25px);
			backdrop-filter: blur(25px);
			z-index: -1;
			transform: translate(-50%);
		}
	}

	// .hi__image

	&__image-ibg {
		margin-bottom: clamp(0.625rem, 0.421rem + 1.02vw, 1.25rem);
		padding-bottom: 147%;
		border-radius: 30px;
		img {
			border-radius: 30px;
		}
	}
}
@media (max-width: (1100px)) {
	.hi {
		padding-bottom: 90px;
	}
}
@media (max-width: (960px)) {
	.hi__image-block {
		margin: 0 50px;
	}
	.hi__image-block::before {
		bottom: -7%;
	}
	.hi__image-ibg {
		padding-bottom: 169%;
	}
	.hi__image-wrapper {
		align-self: stretch;
	}
	.hi__image-name {
		text-align: center;
	}
	.hi {
		padding-bottom: 0;
		&__inner {
			column-gap: 50px;
		}
		.hi-cloud-1 {
			right: -15%;
		}
		.hi-cloud-3,
		.hi-cloud-2 {
			display: none;
		}
	}
}
@media (max-width: (768px)) {
	.hi .hi-cloud-1 {
		position: absolute;
		top: -17%;
		right: -32%;
	}
	.hi__image {
		flex: 0 0 50%;

		img {
			width: 100%;
			object-fit: cover;
			border-radius: 15px;
			max-height: 400px;
		}
	}
	.hi__image-name {
		padding: 15px;
		align-self: stretch;
		align-items: center;
		justify-content: center;
		display: flex;
	}
	.hi__image-wrapper {
		align-self: flex-start;
		display: flex;
		width: 100%;
	}
	.hi__image-block {
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 15px;
		background: rgba(217, 217, 217, 0.01);
		box-shadow: 0px -80px 65px 0px rgba(212, 212, 212, 0.2) inset,
			0px 1px 40px 0px rgba(226, 226, 226, 0.2) inset, 0px 4px 16px 0px rgba(233, 233, 233, 0.2),
			0px 4px 24px 0px rgba(0, 0, 0, 0.17);
		backdrop-filter: blur(25px);
		width: 100%;

		&::before {
			display: none;
		}
	}
	.hi {
		margin: 50px 0;
		overflow: visible;
		&__inner {
			flex-direction: column-reverse;
			row-gap: 30px;
		}
		&__info {
			max-width: 100%;
		}
	}
}
@media (max-width: (425px)) {
	.hi {
		margin: 30px 0;
	}
	.hi__image {
		img {
			max-height: 200px;
		}
	}
	.hi__title {
		text-align: center;
	}
}
