.new {
	margin-top: clamp(2.5rem, 1.295rem + 6.02vw, 5.625rem);
	// margin-bottom: clamp(2.5rem, 1.295rem + 6.02vw, 5.625rem);

	// .new__title
	&-slider {
		padding: 220px 0 100px 0;
	}
	.swiper-slide {
	}

	&__item-info {
		display: flex;
		flex-direction: column;
		padding: clamp(1.25rem, 0.648rem + 3.01vw, 2.813rem);
		padding-top: 200px;
		transition: all 0.5s ease;
	}

	&__title {
		text-align: center;
	}

	// .new__wrapper

	&__wrapper {
		margin-top: 10px;
	}

	// .new__item

	&__item {
		// position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	// .new__item-info

	// .new__item-title

	&__item-title {
		// margin-top: 20px;
		margin-bottom: 10px;
		font-size: 20px;
		font-weight: 600;
		font-family: $fontFamily1;
	}

	// .new__item-sup

	&__item-sup {
		font-size: 16px;
		color: #555;
		font-weight: 400;
		margin-bottom: 16px;
	}

	// .new__item-rating-wrapper

	&__item-rating-wrapper {
		display: flex;
		align-items: center;
		gap: 20px;
		margin-bottom: clamp(0.938rem, 0.672rem + 1.33vw, 1.625rem);
	}
	&-rating {
		display: flex;
		align-items: center;
		column-gap: 4px;
		max-width: 109px;
		li {
			color: #ffd3de;
		}
	}

	// .new__item-rating-count

	&__item-rating-count {
		font-family: $fontFamily2;
		font-size: 16px;
		color: #555;
	}

	&__item-price {
		margin-bottom: clamp(1.25rem, 0.889rem + 1.81vw, 2.188rem);
		font-family: $fontFamily2;
		font-size: 20px;
		color: $black;
	}

	// .new__item-button

	&__item-button {
	}

	.new__item-bottom {
		opacity: 0;
		visibility: hidden;
	}
	.new-image {
		position: absolute;
		top: -40%;
		img {
			max-height: 370px;
			height: auto;
			// object-fit: contain;
		}
	}
	.swiper-slide-active {
		// height: auto;
		.new__item {
			// height: 100%;
		}

		.new-image {
			// position: absolute;
		}
		.new__item-title {
		}

		.new__item-info {
			background-color: rgba(255, 211, 222, 0.5);
			box-shadow: 0px 12px 53px 6px rgba(0, 0, 0, 0.2);
			border-radius: 30px;
			// padding-top: 200px;
			// margin-bottom: -25px;
			margin-top: auto;
		}

		.new__item-bottom {
			opacity: 1;
			visibility: visible;
		}
	}

	.swiper-button-next:after,
	.swiper-button-prev:after {
		display: none;
	}
	.new__item-navigation {
		transform: translate(-50%, -50%);
		pointer-events: none;
		position: absolute;
		bottom: 150px;
		left: 48%;
		display: flex;
		gap: 500px;
		z-index: 1;
	}
	.swiper-button-next,
	.swiper-button-prev {
		position: initial;
		top: var(--swiper-navigation-top-offset, 50%);
		width: calc(var(--swiper-navigation-size) / 44 * 27);
		height: var(--swiper-navigation-size);
		margin-top: calc(0px - var(--swiper-navigation-size) / 2);
		z-index: 10;
		pointer-events: all;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--swiper-navigation-color, var(--swiper-theme-color));
	}
}
