.order {
	position: relative;
	padding-top: 150px;
	padding-bottom: 120px;
	// .order__breadcrumps

	.order-cloud {
		position: absolute;
		z-index: -1;
	}
	.order-cloud-1 {
		top: 10%;
		right: 0;
		animation: smallTranslateCloud 9s ease-in-out infinite;
	}
	.order-cloud-2 {
		bottom: 7%;
		left: 20%;
		animation: smallTranslateCloud 9s ease-in-out infinite;
	}
	.order-cloud-3 {
		bottom: 0;
		right: 0;
		animation: smallTranslateCloudReverse 9s ease-in-out infinite;
	}

	&__breadcrumps {
	}

	// .order__title

	&__title {
		text-align: center;
		margin-bottom: 40px;
	}

	// .order__wrapper

	&__wrapper {
	}

	// .order__form

	&__form {
	}
}

.form-order {
	&__list {
		counter-reset: custom-counter;
		list-style-type: none;

		li {
			position: relative;
			counter-increment: custom-counter;
			padding: 0 0 42px 61px;
			border-left: 5px solid transparent;
			transition: $transition_2;
			pointer-events: none;
			&.preActive {
				border-left: 5px solid #fbf9f9;
			}
			&.active {
				border-left: 5px solid $mainLightPink;
				pointer-events: all;
				&::before {
					background-color: $mainLightPink;
					filter: drop-shadow(0px 8px 7px #ff3f6f);
				}
			}

			&::before {
				content: counter(custom-counter);
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: $fontFamily2;
				text-transform: uppercase;
				font-size: 35px;
				position: absolute;
				left: 0;
				top: 0;
				width: 60px;
				height: 60px;
				background-color: $white;
				border-radius: 50%;
				border: 1px solid $mainLightPink;
				color: $white;
				text-shadow: 0px 2px 3px rgba(255, 63, 111, 1); /* Apply the text shadow with RGBA color */
				transform: translate(-53%, -50%);
				transition: $transition_2;
			}
		}
	}

	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		column-gap: clamp(3.125rem, 1.509rem + 8.08vw, 8.125rem); //130 -50px
	}

	// .form-order__info

	&__info {
		display: flex;
		flex-direction: column;
		margin-top: 35px;
		// max-width: 500px;
		flex-basis: 414px;
		padding-left: 32px;
	}

	&__title {
		text-align: left;
		color: $mainPink;
		font-family: Raleway;
		font-size: 18px;
		font-weight: 600;
	}

	// .form-order__contacts

	&__contacts {
	}

	// .form-order__contacts-title

	&__contacts-title {
	}

	// .form-order__contacts-inputs

	&__contacts-inputs {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	// .form-order__contacts-input

	&__contacts-input {
	}

	// .form-order__payment

	&__payment {
	}

	// .form-order__payment-title

	&__payment-title {
		margin-bottom: 40px;
	}

	&__payment-buttons {
		display: grid;
		row-gap: 60px;
	}

	&__payment-checkbox {
	}
	&__payment__label {
		display: flex;
		align-items: center;
		padding-left: 30px;
		cursor: pointer;

		.checkmark {
			position: relative;
			display: inline-flex;
			flex: 0 0 20px;
			width: 20px;
			height: 20px;
			border: 1px solid #ccc; /* Колір неактивного чекбоксу */
			border-radius: 50%;
			margin-right: 10px; /* Простір між чекбоксом і текстом */
		}

		.form-order__payment__input:checked ~ .checkmark::before {
			content: '';
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 2px;
			left: 2px;
			width: 80%;
			height: 80%;
			background-color: $mainLightBlue; /* Змініть на потрібний вам колір для кружечка */
			border-radius: 50%; /* Зробити елемент круглим */
		}

		.form-order__payment__input:checked ~ .checkmark {
			border-color: $mainLightPink; /* Змініть на потрібний вам колір для рамки активного чекбоксу */
		}
	}

	&__payment__input {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	&__delivery {
		border-left: transparent !important;
		&-wrapper {
			display: grid;
		}
		&-title {
			margin-bottom: 40px;
		}

		&-buttons {
			display: grid;
			row-gap: 60px;
		}

		&-body {
			display: grid;
			row-gap: 30px;
			padding-left: 60px;
			padding-top: 30px;
			padding-bottom: 10px;
		}
		&-input {
			padding: 10px 0;
		}

		&__inputs-row {
			align-items: center;
			display: flex;
			column-gap: 25px;
		}
	}

	// .form-order__item

	&__item {
		flex: 0 1 628px;
		position: relative;
		z-index: 1;
		padding: 40px 62px 40px 28px;
		box-shadow: 0px 1px 32px 4px rgba(0, 0, 0, 0.25);
		border-radius: 30px;
		background-color: $white;
	}

	// .form-order__item-inner

	&__item-inner {
		display: grid;
	}

	// .form-order__item-title

	&__item-title {
		font-size: 30px;
		font-family: $fontFamily1;
		text-align: center;
		color: $mainPink;
		font-weight: 600;
		margin-bottom: 40px;
	}

	// .form-order__item-cards

	&__item-cards {
		max-height: 45vh;
		overflow: auto;
		padding-left: 33px;
		border-left: 1px solid $mainLightBlue;
		margin-bottom: 10px;
		direction: rtl;
	}

	// .form-order__item-card
	&__item-card {
		direction: ltr;
	}

	&__item-footer {
		display: grid;
		padding-left: 33px;
	}

	// .form-order__item-promo

	&__item-promo {
		align-self: stretch;
		margin-bottom: 20px;
	}

	// .form-order__item-probo-button

	&__item-promo-button {
		display: flex;
		align-self: center;
		justify-self: center;
		margin-bottom: 20px;
	}

	// .form-order__item-bottom

	&__item-bottom {
		display: grid;
	}

	// .form-order__item-price-wrapper

	&__item-price-wrapper {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		margin-bottom: 30px;
	}

	// .form-order__item-price-label

	&__item-price-label {
	}

	// .form-order__item-price

	&__item-price {
	}

	// .form-order__item-delivery-price-wrapper

	&__item-delivery-price-wrapper {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		margin-bottom: 50px;
	}

	// .form-order__item-delivery-price-label

	&__item-delivery-price-label {
		font-size: 18px;
		font-weight: 400;
	}

	// .form-order__item-delivery-price

	&__item-delivery-price {
	}

	// .form-order__item-summary-price-wrapper

	&__item-summary-price-wrapper {
		font-size: 18px;
		display: flex;
		justify-content: space-between;
		gap: 10px;
		margin-bottom: 47px;
	}

	// .form-order__item-summary-price-label

	&__item-summary-price-label {
		font-weight: 600;
	}

	// .form-order__item-summary-price

	&__item-summary-price {
		font-size: 20px;
	}

	// .form-order__item-callback-wrapper

	&__item-callback-wrapper {
		margin-bottom: 41px;
	}

	// .form-order__item-callback-checkbox-label

	&__item-callback-label {
		column-gap: 40px;
		pointer-events: none;
		padding-left: 0;
		&.active {
			pointer-events: all;
		}
	}

	// .form-order__item-callback-checkbox

	&__item-callback-checkbox {
	}

	// .form-order__item-actions

	&__item-actions {
		display: flex;
		column-gap: 60px;
		align-items: center;
		justify-content: center;
	}

	// .form-order__item-button-order

	&__item-button-order {
		padding: 10px 50px;
	}

	// .form-order__item-individual-link

	&__item-individual-link {
		transition: $transition;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.form-order-title {
	}
	.input {
	}
	.tabs-content-order-item {
		display: grid;
		grid-template-columns: 5fr 1fr 1fr;
		gap: 8px;
		align-items: center;
		justify-items: space-between;
		margin-bottom: 20px;
		max-width: 510px;
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 20px;
			border-bottom: 1px solid $mainLightBlue;
		}
	}
	.tabs-content-order-item-left {
		display: flex;
		gap: 20px;
		align-items: start;
		// flex: 0 1 55%;
	}
	.tabs-content-order-item-img {
		img {
			width: 108px;
			height: 117px;
		}
	}
	.tabs-content-order-item-left-info {
	}
	.tabs-content-order-item-title {
		display: inline-flex;
		font-size: 20px;
		font-weight: 600;
		color: #000;
		margin-bottom: 10px;
	}
	.tabs-content-order-item-sup {
		font-size: 16px;
		font-weight: 400;
		color: #555555;
	}
	.tabs-content-order-item-count-wrapper {
	}
	.tabs-content-order-item-count-text {
	}
	.tabs-content-order-item-count-num {
		color: $black;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		font-family: $fontFamily2;
	}
	.tabs-content-order-item-price {
		color: $black;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		font-family: $fontFamily2;
	}
}
@media (max-width: (1200px)) {
	.form-order {
		&__inner {
			column-gap: 10px;
		}
	}
}

@media (max-width: (960px)) {
	.order {
		padding-top: 120px;
		padding-bottom: 50px;
		.container__big {
			padding: 0 60px;
		}
		.form-order__inner {
			flex-direction: column;
			gap: 70px;
		}
		.form-order__info {
			flex-wrap: nowrap;
			width: 100%;
			flex-basis: unset;
			padding-left: 0;
		}

		.form-order__list {
			display: grid;
			grid-template-columns: repeat(3, 33%);
			li {
				border-top: 5px solid transparent;
				&:not(:last-child) {
					padding-right: 36px;
				}
			}
		}
		.form-order__list li {
			padding: 0;
			border-left: none;
		}
		.form-order__list li.active {
			border-top: 5px solid #ffd3de !important;
			border-left: none;
		}
		.form-order__list li {
			&:last-child {
				border-top: transparent !important;
			}
		}

		.form-order__list li.preActive {
			border-top: 5px solid #fbf9f9;
			border-left: none;
		}
		.form-order__title {
			margin-top: 60px;
			font-size: 16px;
			margin-bottom: 20px;
		}
		.form-order__list li::before {
			left: 30px;
		}
		.form-order__contacts-inputs {
			input {
				pointer-events: all;
				padding: 10px 0;
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}
		.form-order__payment-buttons {
			row-gap: 35px;
		}
		.form-order__payment__label {
			padding-left: 0;
			font-size: 13px;
			font-weight: 400;
			color: $black;
		}
		.form-order__delivery-body {
			row-gap: 10px;
			padding-left: 30px;
			padding-top: 20px;
			input {
				font-size: 13px;
				padding: 10px 0;
				margin-bottom: 10px;
			}
		}
		.form-order__delivery__inputs-row {
			flex-direction: column;
			align-items: stretch;
		}
		.form-order__item {
			flex: 1 1 100%;
			width: 100%;
			padding: 30px 30px 40px 30px;
			box-shadow: 0px 1px 29px 2px rgba(0, 0, 0, 0.25);
		}
		.form-order__item-title {
			margin-bottom: 30px;
			grid-column: span 2;
		}
		.form-order__item-inner {
			grid-template-columns: repeat(2, 1fr);
		}
		.form-order__item-cards {
			padding-left: 0;
			border-right: 1px solid #3f8f8d;
			border-left: 0;
			padding-right: 20px;
			direction: ltr;
			max-height: 52vh;
		}
		.tabs-content-order-item-img {
			flex: 0 0 113px;
		}
		.form-order .tabs-content-order-item-title {
			font-size: 16px;
		}
		.tabs-content-order-item-sup {
			font-size: 12px;
		}
		.form-order .tabs-content-order-item {
			margin-bottom: 30px;
		}
		.order-cloud-1 {
			top: 44%;
			left: 0;
		}
		.tabs-content-order-item-count-num {
			font-size: 14px;
		}
		.tabs-content-order-item-price {
			font-size: 14px;
		}
		.form-order {
			input {
				font-size: 13px;
				padding: 10px 0;
			}
			&__item-footer {
				padding-left: 40px;
			}
			&__item-promo-button {
				justify-self: inherit;
				justify-content: center;
				margin-bottom: 30px;
			}
		}
		.form-order__item-delivery-price-wrapper {
			margin-bottom: 40px;
		}
		.form-order__item-callback-label {
			column-gap: 15px;
			font-size: 14px;
		}
		.form-order__item-callback-wrapper {
			margin-bottom: 30px;
		}
		.form-order__item-actions {
			flex-direction: column;
			align-items: stretch;
			row-gap: 30px;
			button {
				padding: 15px 40px;
			}
			a {
				font-size: 13px;
				text-decoration: underline;
				text-align: center;
			}
		}
		.form-order__item-summary-price-wrapper {
			font-size: 16px;
			.form-order__item-summary-price {
				font-size: 16px;
			}
		}
	}
}
@media (max-width: (768px)) {
	.order {
		.form-order__item-inner {
			display: block;
		}
	}
}
@media (max-width: (500px)) {
	.order {
		padding-top: 80px;
		padding-bottom: 80px;
		.order-cloud {
			pointer-events: none;
			// z-index: 1;
		}
		.order-cloud-1 {
			top: 40%;
			left: -48%;
		}
		.order-cloud-2 {
			top: 37%;
			left: -48%;
		}

		.order-cloud-3 {
			bottom: -1%;
			left: 6%;
		}
		.container__big {
			padding: 0 30px;
		}
		.carttabs__breadcrumps {
			margin-bottom: 20px;
		}
		.order__title {
			font-size: 24px;
		}
		.tabs-content-order-item-count-num,
		.tabs-content-order-item-price {
			font-size: 16px;
		}
		.form-order {
			&__item {
				width: unset;
				margin-right: -30px;
				margin-left: -30px;
				&-cards {
					padding-right: 10px;
					border-right: none;
					max-height: 60vh;
				}
				&-footer {
					padding-left: 0;
				}
				&-promo {
					margin-bottom: 30px;
					&-button {
						font-size: 16px;
					}
				}
				&-price-wrapper {
					margin-bottom: 20px;
					div {
						font-size: 16px;
					}
				}
				&-delivery-price-wrapper {
					margin-bottom: 30px;
					div {
						font-size: 16px;
					}
				}
				&-summary-price-wrapper {
					font-size: 18px;
					margin-bottom: 30px;
				}
				&-callback-label {
					font-size: 13px;
				}
				&-actions {
					row-gap: 20px;
				}
			}
			&__info {
				padding-left: 30px;
			}
			&__list {
				grid-template-columns: repeat(1, 1fr);
			}
			&__title {
				margin-top: 0;
				font-size: 16px;
			}
			&__list li {
				border-left: 5px solid transparent !important;
				border-top: none !important;
				padding: 0 0 42px 53px;

				&::before {
					left: 0;
					top: 10px;
				}
				&.active {
					border-top: none !important;
					border-left: 5px solid #ffd3de !important;
				}
				&.preActive {
					border-left: 5px solid #fbf9f9 !important;
					&.active {
						border-left: 5px solid #ffd3de !important;
						&:last-child {
							border-left: transparent !important;
						}
					}
				}
				&:not(:last-child) {
					padding-right: 0;
				}
				&:last-child {
					border-left: transparent !important;
				}
			}
		}

		&__delivery-body {
			padding-left: 0;
		}

		.tabs-content-order-item:last-child {
			padding-bottom: 30px;
		}
	}
}
