.power {
	position: relative;
	padding-bottom: clamp(3.125rem, 2.216rem + 4.55vw, 5.625rem);
	.power-clouds {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
	}
	.power-cloud {
		position: absolute;
		z-index: 2;
	}
	.power-cloud-1 {
		top: 0;
		left: 0;
	}
	.power-cloud-2 {
		top: 0;
		right: 0;
	}
	.power-cloud-3 {
		bottom: 0;
		left: 0;
	}
	.power-cloud-4 {
		bottom: 0;
		right: 0;
	}

	// .power__title
	&__title {
		text-align: center;
		margin-bottom: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
	}

	// .power__wrapper

	&__wrapper {
	}

	// .power__item
	&__item {
	}

	// .power__item-navigation

	&__item-navigation {
	}
	&-image {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 15px;
	}
	&-slider {
		padding-top: clamp(2.5rem, 1.409rem + 5.45vw, 5.5rem);
		// padding-bottom: clamp(6.25rem, 3.068rem + 15.91vw, 15rem);
		padding-bottom: 292px;

		&-box {
			position: absolute;
			top: 20%;
			left: 22.5%;
			width: calc(600px / 1120px * 100%);
			max-height: 500px;
			height: 100%;
			border-radius: 50px;
			background: rgba(217, 217, 217, 0.01);
			box-shadow: rgba(212, 212, 212, 0.2) 0px -80px 65px 0px inset,
				rgba(226, 226, 226, 0.2) 0px 1px 40px 0px inset, rgba(233, 233, 233, 0.2) 0px 4px 16px 0px,
				rgba(0, 0, 0, 0.25) 0px 19px 42px 5px;
			backdrop-filter: blur(25px);
			// pointer-events: none;

			.swiper-button-next,
			.swiper-button-prev {
				position: unset;
				top: unset;
				width: unset;
				height: unset;
				margin-top: unset;
				z-index: unset;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				color: var(--swiper-navigation-color, var(--swiper-theme-color));
			}

			.power__item-navigation {
				position: relative;
				display: flex;
				align-items: flex-end;
				justify-content: center;
				column-gap: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);
				height: 90%;
				img {
					transition: $transition;
				}
			}

			.power-slider-instagram,
			.swiper-button-next,
			.swiper-button-prev {
				:hover {
					transform: scale(1.32);
				}
			}
		}
		.swiper-slide {
			transition: $transition;

			.power__item {
				border-radius: 20px;
				max-width: 320px;
				max-height: 400px;
			}
		}

		.swiper-slide-active {
			transform: scale(1.32);
			.power__item {
			}
			.power-image {
				border-radius: 15px;
			}
		}
		.swiper-slide-next {
		}

		.swiper-wrapper {
		}

		.swiper-button-next::after,
		.swiper-button-prev::after {
			display: none;
		}
	}
}
