.specialorder {
	position: relative;
	padding-top: 150px;
	padding-bottom: 122px;

	.specialorder-clouds {
		z-index: -1;
	}
	&-cloud-top-right {
		position: absolute;
		right: 0;
		top: 15%;
		z-index: -1;
		animation: smallTranslateCloud 9s ease-in-out infinite;
	}
	&-cloud-bottom-left {
		position: absolute;
		left: 42%;
		bottom: 0;
		z-index: -1;
		animation: smallTranslateCloudReverse 9s ease-in-out infinite;
	}
	// .specialorder__title

	&__title {
		text-align: center;
		margin-bottom: 40px;
	}

	// .specialorder__inner

	&__inner {
		display: grid;
		grid-template-columns: 512px 1fr;
		column-gap: clamp(0.625rem, -2.016rem + 11.74vw, 7.375rem); // 118 - 10px
	}

	// .specialorder__contacts

	&__contacts {
		display: grid;
	}

	// .specialorder__contacts-title

	&__contacts-title {
		margin-bottom: 30px;
	}

	// .specialorder__contacts-block

	&__contacts-block {
		display: grid;
		row-gap: 40px;
	}

	// .specialorder__contacts-inputs

	&__contacts-inputs {
		display: grid;
		grid-template: repeat(2, 1fr) / repeat(2, 1fr);
		column-gap: clamp(0.625rem, -1.283rem + 8.48vw, 5.5rem); // 88 - 10px
		row-gap: 30px;
	}

	// .specialorder__contacts-input

	&__contacts-input {
	}

	// .specialorder__contacts-textarea

	&__contacts-textarea {
		max-width: 562px;
		width: 100%;
		resize: none;
		padding: 20px;
		min-height: 240px;
		color: #9e9e9e;
		border-radius: 0px 0px 80px 0px;
		background: rgba(255, 211, 222, 0.15);
		margin-bottom: 40px;
		border: none;
		&::placeholder {
			font-size: 14px;
		}
	}

	// .specialorder__contacts-btn

	&__contacts-btn {
		justify-self: center;
	}

	&__form {
		display: grid;
		min-height: 460px;
		border-radius: 15px;
		background: #fff;
		box-shadow: 0px 14px 37px 5px rgba(0, 0, 0, 0.2);
		padding: 20px 20px 44px 20px;

		&-wrapper {
			align-self: center;
		}

		&-title {
			margin-bottom: 40px;
		}
	}
}

@media (max-width: (960px)) {
	.specialorder {
		padding-top: 120px;
		padding-bottom: 90px;
		.container {
			padding: 0 60px;
		}
		.container__big {
			padding: 0 60px;
			@media (max-width: (600px)) {
				padding: 0 30px;
			}
		}
		&__inner {
			grid-template-columns: 1fr;
			row-gap: 50px;
		}
		.specialorder__contacts-block {
			column-gap: 23px;
			row-gap: 30px;
			grid-template-columns: 335px 1fr;
		}

		.specialorder__contacts-textarea {
			border-radius: 0px 0px 50px 0px;
			padding: 30px 52px;
			grid-column: 2/3;
			grid-row: 1/4;
			margin-bottom: 0;
		}
		.specialorder__contacts-btn {
			grid-column: 2/3;
			padding: 14px 57px;
		}
		.specialorder-cloud-top-right {
			display: none;
		}
		.specialorder__contacts-title {
			margin-bottom: 0;
		}
		.specialorder__contacts-inputs {
			grid-template-columns: 1fr;
			gap: 20px;
			grid-row: span 2;

			input {
				padding: 10px 0;
				font-size: 16px;
			}
		}
		.specialorder__form-title {
			text-align: center;
		}
	}
}
@media (max-width: (600px)) {
	.specialorder {
		padding-top: 80px;
		padding-bottom: 60px;
		.container {
			padding: 0 30px;
		}
		.specialorder__contacts-block {
			display: flex;
			flex-direction: column;
			row-gap: 30px;
		}
		.specialorder__contacts-textarea {
			padding: 20px;
		}
		.specialorder__contacts-btn {
			display: inline-flex;
			justify-self: center;
			align-self: center;
			padding: 15px 53px;
		}
		.specialorder__inner {
			row-gap: 60px;
		}
	}
}
