.thanks__popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Чорний напівпрозорий фон */
	overflow: auto;
	z-index: 10;

	&-content {
		position: relative;
		background-color: #fff; /* Колір вмісту попапу */
		min-width: 200px;
		max-width: 846px;
		width: 100%;
		height: auto;
		margin: 265px auto;
		border-radius: 15px;
		background: #fff;
		padding: 48px 146px;
	}

	&-cloud-top-left {
		pointer-events: none;
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: -25%;
	}

	&-cloud-top-right {
		pointer-events: none;
		position: absolute;
		z-index: -1;
		bottom: 10px;
		right: -25%;
	}

	&-cloud-bottom-left {
		pointer-events: none;
		position: absolute;
		bottom: -100px;
		left: -30%;
	}
	&-cloud-bottom-right {
		pointer-events: none;
		position: absolute;
		bottom: -130px;
		right: -25%;
	}

	&-title {
		text-align: center;
	}

	&-sup {
		position: relative;
		font-size: 20px;
		color: $black;
		font-weight: 400;
		text-align: center;
		margin: 0 auto;
		margin-top: 40px;
	}

	&-close-wrapper {
		position: absolute;
		cursor: pointer;
		top: 20px;
		right: 20px;
	}
}

.orderthanks__popup-content {
	padding: 48px 88px;
	z-index: 1;
}
